{% extends 'member-header.html' %}

{% load static %}

{% block content %}

<div class="container-fluid form-container">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-7 form-part">
              <div class="row">
                <div class="col-lg-8 col-md-11  formcol mx-auto">
                     <h3>View Notice</h3>
                    {% csrf_token %}
                    <div class="d-flex flex-row">
                        <div class="p-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="Created By" name="created_by" value="{{notic.send_by.name}}" readonly>
                                <label for="floatingInput">Send By</label>
                               </div>
                        </div>
                        <div class="p-2">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" placeholder="subject" name="subject" value="{{notice.subject}}" readonly>
                                <label for="floatingInput">Subject</label>
                               </div>
                        </div>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="p-2">
                            <div class="form-floating mb-3">
                                <input type="date" class="form-control" id="floatingInput" placeholder="Mobile Number"name="mobile" value="{{notice.notice_on}}" readonly>
                                <label for="floatingInput">created On</label>
                              </div>
                        </div>
                        </div>
                        <div >
                            <textarea name="" class="'form-control" style="border:black 5px bold;border-radius: 5px bold; border-color: black;" id="" cols="30" rows="10">{{notice.des}}</textarea>
                        </div>
                        <div class="text-center">
                          {% if notice.read == False %}
                            <a href="{% url 'solve-notice' notice.id %}"><button class="btn btn-primary"><i class="fa fa-trash"></i> Solved notice</button></a>
                          {% endif %}
                          </div>
                    </div>
                  </form>

                </div>
               
              </div>
               
            </div>
        </div>
    </div>
  </div> 

{% endblock %}