{% extends 'header.html' %}
{% load static %}
{% block title %}
<title>Change Password</title>
{% endblock %}
{% block page %}
Change Password
{% endblock %}
{% block content %}
<div class="container-fluid form-container">
    <div class="container login-container">
        <div class="row">
            
            <div class="col-md-7 form-part">
              <div class="row">

                <div class="col-lg-8 col-md-11 login formcol mx-auto">
                  <form role="form" action="{% url 'change_password' %}" method="POST" > 
                    <label for="" class="form-label">{{msg}}</label>
                    {% csrf_token %}
                     <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="floatingInput" placeholder="Enter old passwod" name="oPassword">
                      <label for="floatingInput">old password</label>
                    </div>
                    <div class="form-floating">
                      <input type="password" class="form-control" id="floatingPassword" placeholder="Enter new Password" name="nPassword">
                      <label for="floatingPassword">New Password</label>
                    </div>
                    <p> </p>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Enter conform passwod" name="cPassword">
                        <label for="floatingPassword">conform Password</label>
                      </div>
                    <p> </p>
                    <div class="form-floating">
                     <button type="submit" class="btn btn-primary">change Password</button>
                    </div>
                    <p>

                    </p>
                  </form>
                </div>
                <p> </p>
              </div>
              <p> </p>
            </div>
        </div>
    </div>
  </div>
  {% endblock %}