
{% load static %}


<!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Form HTML Design</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  </head>

  <body>
    <div class="container-fluid form-container">
      <div class="container login-container">
          <div class="row">
              
              <div class="col-md-7 form-part">
                <div class="row">
                   <p class="signinlink">Dont have an account <a href="{% url 'signup' %}">Sign Up</a></p>

                  <div class="col-lg-8 col-md-11 login formcol mx-auto">
                       <h3>Sign IN to Smarteye</h3>
                    <form role="form" action="{% url 'login' %}" method="POST"> 
                      <label for="" class="form-label">{{msg}}</label>
                      {% csrf_token %}
                       <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="Enter Email Address" name="email">
                        <label for="floatingInput">Email address</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="Password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <p> </p>
                      <div class="form-floating">
                       <button type="submit" class="btn btn-primary">Login</button>
                      </div>
                      <p> </p>
                      <p>
                        Forget Password?
                        <a href="{% url 'signup' %}" class="text-primary text-qradient fort-weight-bold">forget Password</a>
                      </p>
                    </form>

                  </div>
                 
                </div>
                 
              </div>
          </div>
      </div>
    </div> 

  </body>
  </html>
  